<% provide(:title, "About") %>
<h1>About</h1>
<p>
The <em>MK API Connector</em> is for MK clients API integration.
</p>
<h2>Overview</h2>
<p>• This is a guide for MK clients who would like to feed their products via API.</p>
<p>• When the API connection between two platforms is established, the other e-business platform becomes the ONLY source of truth for product uploads and updates.</p>
<p>• Any product update, including create, update and delete, should only be made on the other e-business platform. Data update will feed through automatically.</p>
