

<div class="center jumbotron">
  <h1>Welcome to the MK API connector</h1>
  <h2>
    Marketplacer help you bring your tribe together. API connector help you to get their data connected. 
  </h2>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("mk-logo.png", alt: "MK logo", width: '60', height: '50'),
            'https://www.marketplacer.com' %>

