<% provide(:title, "About") %>
<h1>About</h1>
<p>
The <em>API Connector App</em> is for HOH bigcommerce clients api integration.
</p>
<h2>Overview</h2>
<p>• This is a guide for House of Home customers who connect their Bigcommerce product feed to their House of Home account via API.</p>
<p>• When the API connection between House of Home and Bigcommerce is established, Bigcommerce becomes the ONLY source of data for product uploads.</p>
<p>• Any update to product information should only be made on Bigcommerce, and then updated on House of Home via the feed. Bigcommerce is the source of truth.</p>
