

<div class="center jumbotron">
  <h1>Welcome to the HOH API connector</h1>
  <h2>
    This is the home page for the HOH API connector
  </h2>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("hohlogo.svg", alt: "HOH logo"),
            'https://houseofhome.com.au' %>

